<ul>
<% @craft_categories.each do |cat| %>
    <li><%= link_to cat.name, craft_category_path(cat) %></li>
        <ul>
        <% cat.crafts.each do |craft| %>
            <li><%= link_to craft.name, craft_path(craft) %></li>
        <% end %>
        </ul>
<% end %>
</ul>