<div class="container">

<% craft_categories.each do |cat| %>
    <div class="craft-container list <%=cat.name.downcase.split(" ").join%>">
        <a href=<%=craft_category_path(cat)%>>
        <div class="craft-cat">
                <%= cat.name.split(" ")[0] %><br>
                <%= cat.name.split(" ")[1] %>
        </div>
        </a>
    </div>
<% end %>

</div>