<% @craft_categories.each do |cat| %>
    <div class="craft-container">
        <a href=<%=craft_category_path(cat)%>>
        <div class="craft-column">
            <%= cat.name %>
        </div>
        </a>
    </div>
<% end %>


