<h2 class="pre-login-header">Log In</h2>
<div class="stylebox login">

<%= form_with model: @user, url: '/login', local: true do |f| %>
  <% if @message %>
        <p class="error-message"><%=@message%></p>
  <% end %> 

  <%= render partial: "users/form", locals: {user: @user} %>
  <br>

  <input type="submit" class="button" value="Log In">
<% end %>

  <div class="options-bar"><%= link_to "Click here to Sign Up", signup_path %></div>

</div>
