<% if session[:user_id] %>
  <h2 class="home"><%= @user.username %>'s favorite crafts</h2>
<br>

<% @user.craft_categories.uniq.each do |cat| %>
<div class="fav-container">
        <a href=<%=craft_category_path(cat)%>>
        <div class="fav <%=cat.name.downcase.split(" ").join%>">
            <h4><%= cat.name %></h4>
        </div>
        </a>
    </div>
<% end %>
<br>

<%end%>