<h2><%= @user.username %>'s craft room</h2>
<br>

<% @user.craft_categories.uniq.each do |category| %>
<%= link_to category.name, craft_category_path(category) %><br>
<% end %>
<br>
Change the URL on this to "home" ? idk smth