<% @supply_categories.each do |sc| %>
    <% unless sc.name == "Create New" %>
        <h4><%= sc.name %></h4>
        <ol>
        <% sc.supplies.each do |s| %>
        <li><%= s.name %></li>
        <ul>
        <li><%= s.notes %></li>
        </ul>
    <% end %>
<% end %>
</ol>
<% end %>