<% @categories.each do |sc| %>
    <% if sc.supplies.count > 0 %>
        <h3 class="courier"><%= link_to sc.name, supply_category_path(sc)%></h3>
        <ul class="no-bullets">
        <% sc.supplies.each do |s| %>
            <li class="appear"><%= link_to s.name, supply_path(s) %></li>
        <% end %>
        </ul>
    <% end %>
<% end %>

<div class="link"><%= link_to "Log Supply", new_supply_path %></div>