/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.hidden {
  display: none;
}

.no_bullets {
  list-style: none;
}

.homepage {
  color: whitesmoke;
  font-size: 90px;
  text-align: center;
  margin-top: 10%;
}

.link-container :hover {
  background-color: rgba(146, 189, 117, 1)
}

.link {
  text-align: center;
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
  padding: 1.5%;
  background-color: rgba(146, 189, 117, 0.65);
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  border-radius: 20px;
}