// Place all the styles related to the craft_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.message {
  color: rgb(174, 130, 137)
}

.craft-column {
    float: left;
    background-color: pink;
    border-radius: 20px;
    width: 47%;
    max-width: 800px;
    max-height: 800px;
    color: white;
    margin: 1%;
    text-align: center;
    font-size: 40px;
    padding: 19% 0 21% 0;   
}

.craft-container :hover {
    background-color: purple;
}

/* updated */
.craft-cat {
    float: left;
    padding-top: 150px;
    box-shadow: 2px 2px 8px rgb(65, 70, 70);
    border-radius: 20px;
    width: 31%;
    height: 250px;
    background-color: #ffc6c6;
    color:whitesmoke;
    font-size: 36px;
    margin: 1%;
    text-align: center;
}

.papercrafts :hover {
  background: url("https://i.imgur.com/Z1vEgnJ.jpg");
  opacity: .9;
  }

.carpentry :hover {
  background: url("https://i.imgur.com/ZP8qpPo.jpg");
  background-size: cover;
  opacity: .9;
}

.homeimprovements :hover {
  background: url("https://i.imgur.com/v5OVPuX.jpg");
  background-size: cover;
  opacity: .9;
}

.decorativeobjects :hover {
  background: url("https://i.imgur.com/FhkunrC.jpg");
  background-size: cover;
  opacity: .9;
}

.craft-container :hover {
  color: rgb(24, 24, 24);
  text-shadow: 2px 3px 3px white;

}

.list {
  font-family: Courier;
  font-size: 24px;
  margin-left: 1%;
}
