// Place all the styles related to the craft_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.column {
    float: left;
    background-color: pink;
    border-radius: 20px;
    width: 47%;
    max-width: 800px;
    max-height: 800px;
    color: white;
    margin: 1%;
    text-align: center;
    font-size: 40px;
    padding: 19% 0 21% 0;   
}

.container :hover {
    background-color: purple;
}