/* default styles */

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: rgb(90, 95, 95);
  font-family: 'Epilogue';
  background-color: #e0c4a194;
}

a {
  color: inherit;
  text-decoration: inherit; }

a:visited {
  opacity: 75%; }

label {
  display: inherit; }

p {
  display: inherit; }



//TEXT STYLING

.page-heading {
  font-size: 48px;
  margin: 2% 0 1% 0;
  color: rgb(65, 70, 70);
}

.message {
  color: #5a2d68;
}

.error-message {
  color: rgb(253, 209, 216)
}

.courier {
  font-family: Courier;
}

.bold {
  font-weight: bold;
}

h4 {
  margin-bottom: 10px;
}

//GOES IN CRAFTS 
.category {
  margin: 0 0px 3% 2%;
}

/*general*/

//LAYOUT

  .indent {
    margin: 0px 0px 0px 3%;
  }

  .bg {
    background: url("https://i.imgur.com/pK7B04x.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
  }

  .wrapper {
    margin: auto auto;
    padding: 1.5% 2.25%;
    width: 90%;
    height: 100%;
  }

  .page-footer {
    position: fixed;
    left: 5%;
    bottom: 5%;
  }

  .container {
    padding-bottom: 20px;
    overflow: auto;
  }

//BUTTON STYLING

  input[type=submit] {
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    padding: 9px 12px 9px 12px;
    margin: 10px;
    border-style: none;
    box-shadow: 2px 2px 4px rgb(65, 70, 70);
    border-radius: 20px;
    font-family: Epilogue;
  }

  .page-button {
    background-color: #214577cc; 
  }


//NAVBAR

.navbar-ul {
  list-style-type: none;
  font-family: Courier;
  font-weight: bold;
  overflow: hidden;
  margin: -10px -10px 0px -10px;
  background-color: rgba(146, 189, 117, 0.65);
  font-size: 18px;
}

.li {
  float: left;
}

.li a, .dropbtn {
  display: inline-block;
  color: rgba(79, 79, 79, .9);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover, .dropdown:hover .dropbtn {
  background-color: #ffc6c6;
  color: whitesmoke;
}

.li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4bd92;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: Epilogue;
  font-size: 15px;
  font-weight: normal;
}

.dropdown-content a {
  color: rgba(97, 91, 85, 0.9);
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #c09e79;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Text Styling */

.strike {
  text-decoration: line-through;
}

.inline {
  display: inline;
}

.no-line-break {
  display: inline;
}

.no-bullets {
  list-style-type: none;
}

.link {
  color: #214577cc  ;
  font-weight: bold;
}

.back-link {
  color: #214577cc;
  max-width: 200px;
  font-weight: bold;
  font-size: 18px;
  border-top: solid;
  border-bottom: solid;
  padding: 10px 0px;
  position: absolute;
  bottom: 2%;
}

.link a:visited {
  opacity: 40%;
  font-weight: bold;
}

//scaffolded 

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

#notice {
  color: green; }

.field_with_errors {
  display: inherit;
  background-color: rgb(177, 112, 123);
  padding: 2px;
 }

#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }
