
    header {
      text-align: center;
      background: url("https://i.imgur.com/pK7B04x.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 1200px;
      color: white;
    }
    
    body {
      background-color: #fff;
      color: #333;
      margin: 0px;
      font-family: helvetica, arial sans-serif;
    }

    .topnav {
      overflow: hidden;
      background-color: rgb(198, 233, 176);
    }

    .topnav a {
      float: left;
      color: whitesmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: rgb(255, 204, 204);
      color: whitesmoke;
    }
    
    .topnav a.active {
      background-color: #af4cac;
      color: whitesmoke;
    }

    h1 {
      font-size: 70px;
    }

    .wrapper {
      background: inherit;
      margin: 30px auto;
      padding: 1.5% 2.25%; /* 18px / 800px */
      width: 90%;
      color: rgb(101, 101, 101);
      
    }

a {
  color: inherit;
  text-decoration: inherit; }

a:visited {
  color: inherit; }

a:hover {
  color: inherit; }

 .ul-navbar {
    padding: 10px 0px;
    background: rgb(198, 233, 176);
    margin: auto auto 0px auto;
    text-align: center;
  }

  .navbar {
    padding: 0px 40px 0px 0px;
    color: whitesmoke;
    display: inline;
  }

  label {
    display: inherit; }

  .strike {
    text-decoration: line-through;
  }

  .no-line-break {
    display: inline;
  }

// //  a {
//     color: #000; }
  
//   a:visited {
//     color: #666; }
  
//   a:hover {
//     color: #fff;
//     background-color: #000; }


//scaffolded 

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px; }

// #notice {
//   color: green; }

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table; }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0; }

// #error_explanation h2 {
//   text-align: left;
//   font-weight: bold;
//   padding: 5px 5px 5px 15px;
//   font-size: 12px;
//   margin: -7px -7px 0;
//   background-color: #c00;
//   color: #fff; }

// #error_explanation ul li {
//   font-size: 12px;
//   list-style: square; }
