// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.pre-login {
    color: whitesmoke;
    text-align: center;
    margin-top: 10%;
  }

  .link-container :hover {
    background-color: rgba(146, 189, 117, 1)
  }
  
  .stylebox {
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    padding: 1.5%;
    background-color: rgba(146, 189, 117, 0.65);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    border-radius: 20px;
  }
    .form {
        font-size: 20px;
        padding: 2.5%;
        display: inline-block;
    }

    .options-bar {
        font-size: 16px;
        margin-top: 2px;
        color: rgb(226, 215, 151);
        opacity: 100%;
    }

    .login {
        margin-left: 35%;
        margin-right: 35%;
    }

    .home {
      text-align: center;
      font-size: 40px;
    }

    .fav {
      float: left;
      background-color: pink;
      border-radius: 20px;
      width: 25%;
      max-width: 400px;
      max-height: 400px;
      color: rgb(196, 237, 236);
      text-shadow: 2px 2px 5px white;
      margin: 1%;
      text-align: center;
      padding: 10% 0 11% 0;   
  }

  h4 {
    font-size: 36px;
    padding: 0;
    margin: 0;
    color: black;
  }

  .papercrafts {
    background: url("https://i.imgur.com/Z1vEgnJ.jpg");
    opacity: 1;
    }

  .fav-container :hover {
    opacity: .5;
  }