// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.pre-login {
    color: whitesmoke;
    text-align: center;
    margin-top: 10%;
  }
  
  .stylebox {
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    padding: 1.5%;
    background-color: rgba(146, 189, 117, 0.65);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    border-radius: 20px;
  }
    .form {
        font-size: 20px;
        padding: 2.5%;
        display: inline-block;
    }

    .options-bar {
        font-size: 16px;
        margin-top: 2px;
        color: rgb(226, 215, 151);
        opacity: 100%;
    }

    .login {
        margin-left: 35%;
        margin-right: 35%;
    }

    .home {
      text-align: center;
      font-size: 40px;
    }

    .fav {
      float: left;
      box-shadow: 3px 3px 6px rgb(223, 196, 196);
      border-radius: 20px;
      width: 33%;
      max-width: 400px;
      max-height: 400px;
      background-color: pink;
      color:whitesmoke;
      font-size: 36px;
      margin: 1%;
      text-align: center;
      padding: 13% 0 13% 0;   
  }

  .papercraftslayout {
    float: left;
    box-shadow: 3px 3px 6px rgb(223, 196, 196);
    border-radius: 20px;
    width: 33%;
    max-width: 400px;
    max-height: 200px;
    background-color: pink;
    color:whitesmoke;
    font-size: 36px;
    margin: 1%;
    text-align: center;
    padding: 13% 0 13% 0;   
}
  

  .papercrafts :hover {
    background: url("https://i.imgur.com/Z1vEgnJ.jpg");
    opacity: .9;
    }

  .carpentry :hover {
    background: url("https://i.imgur.com/ZP8qpPo.jpg");
    background-size: cover;
    opacity: .9;
  }

  .homeimprovements :hover {
    background: url("https://i.imgur.com/v5OVPuX.jpg");
    background-size: cover;
    opacity: .9;
  }

  .decorativeobjects :hover {
    background: url("https://i.imgur.com/FhkunrC.jpg");
    background-size: cover;
    opacity: .9;
  }

  .fav-container :hover {
    color: rgb(24, 24, 24);
    text-shadow: 2px 3px 3px white;

  }