
<h1 class="pre-login-header"> The Craft Room </h1>

  <div class="link-container">
    <a href=<%= '/signup' %>>
      <div class="stylebox">Sign Up</div>
    </a>
  </div>

   <div class="link-container">
    <a href=<%= '/login' %>>
      <div class="stylebox">Log In</div>
    </a>
    </div>

   <div class="link-container">
    <a href=<%= '/auth/facebook' %>>
      <div class="stylebox">Log In with Facebook</div>
    </a>
  </div>