
<h1 class="homepage"> The Craft Room </h1>

  <div class="link-container">
    <a href=<%= '/signup' %>>
      <div class="link">Sign Up</div>
    </a>
  </div>

   <div class="link-container">
    <a href=<%= '/login' %>>
      <div class="link">Log In</div>
    </a>
    </div>

   <div class="link-container">
    <a href=<%= '/auth/facebook' %>>
      <div class="link">Log In with Facebook</div>
    </a>
  </div>