
<h1 class="homepage"> The Craft Room </h1>

  <div class="link-container">
    <div class="link"><%= link_to('Sign Up', '/signup') %></div>

    <div class="link"><%= link_to('Log In', '/login') %></div>

    <div class="link"><%= link_to('Log In with Facebook!', '/auth/facebook') %></div>

  </div>