<h2><%= @category.name %></h2>
<ul>
<% @category.supplies.each do |supply| %>
    <li><%= link_to supply.name, supply_path(supply) %></li>
<% end %>
</ul>

GOTTA DRY THIS UP, IT'S P MUCH THE SAME FORM AS CRAFT CATEGORY