<!DOCTYPE html>
<html>
  <head>
    <title>Crafting</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg">
        <div class="wrapper">
            <%= yield %>
        </div>
  </body>
</html>